*, *::after, *::before {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

.container {
    color: white;
    margin: 0 auto;
    height: 100vh;
    width: 80%;
    background-image: url('cards.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

button {
    border: none;
    border-radius: 5px;
    padding: .5em 1em;
    font-weight: bold;
    cursor: pointer;
}


img {
    width: 100%;
    height: 100%;
}

.card-slot {
    border: 2px solid red;
    border-radius: 10px;
    width: calc(24em * 5 / 7);
    height: 24em;
}

.card-slot:nth-of-type(1) {
    margin-bottom: 5em;
}

#two-cards {
    margin-bottom: 1.5em;
    font-size: 1.2em;
}

.top {
    display: flex;
    align-self: flex-start;
    align-content: center;
    margin-top: 2em;
}

.top p {
    margin-left: 2em;
    font-size: 1.6rem;
    color: blue;
}

button:disabled {
    cursor: not-allowed;
    background: grey;
}

h2 {
    font-size: 2rem;
}

h3 {
    color: rgb(234, 222, 235);
    font-size: 1.5rem;
}

.score {
    align-self: flex-start;
    margin-left: 1.5em;
}